
{% extends 'Colegio/home.html' %}
{% load static %}

{% block content %}

<br>
<br>

<br>
<br>
    <div class="container">
       <h2 class="text-center text-dark">
           Acerca de Mí
       </h2>
       <br>
       <div class="row g-4">
          
           <div class="col">
            <div class="">
                 <div class="text-center">
            <p>Soy el Profesor Pablo López, les presento esta <p>
                <p>herramienta para compartir y resolver problemas<p>
                           </div>
            </div>
        </div>
       </div>
    </div>
    <br>    <br>
    <br>
    <br>
    <br>    <br>
    <br>
    <br>
    <br>    <br>
    <br>
    <br>

{% endblock %}
